@import "tailwindcss";

/* 1. Variables de Identidad Software DT */
:root {
  --main-bg: #000000; /* Fondo Negro Total para resaltar el Reel */
  --accent-gold: #FFD700;
  --industrial-gray: #DCDCDC;
}
; }
.border-gold { border-color: #FFD700; }

/* 4. Scrollbar Estilo Tesla Dark */
::-webkit-scrollbar {
  width: 5px;
}

/* 5. Fix para el contenedor del Video */
video {
  display: block;
  object-fit: cover;
  /* Asegura que el video no tenga filtros que lo oculten */
  filter: brightness(0.8); 
}