@import "tailwindcss";

/* Configuración de Identidad Software DT - Dark Mode */
:root {
  --main-bg: #000000; /* Fondo negro total */
  --accent-gray: #DCDCDC; /* Gainsboro para contrastes */
  --gold: #FFD700;
}

body {
  background-color: var(--main-bg) !important;
  color: #FFFFFF; /* Texto blanco para legibilidad sobre negro */
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

/* Clases de utilidad manuales */
.bg-main { background-color: #000000; }
.bg-industrial { background-color: #DCDCDC; }
.text-gold { color: #FFD700; }
.bg-gold { background-color: #FFD700; }
.border-gold { border-color: #FFD700; }

/* Scrollbar minimalista tipo Tesla (Ajustado para fondo oscuro) */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #000000;
}
::-webkit-scrollbar-thumb {
  background: #FFD700;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #e6c200;
}

/* Optimización para que el contenido no se pegue a los bordes */
main {
  @apply w-full;
}